* {
    margin: 0px;
    padding: 0px;
    font-family: fantasy;
}

@font-face {
    font-family: 'BagelFatOne';
    src: url('Tipografías/BagelFatOne-Regular.ttf');
    font-family: 'DidactGothic';
    src: url('Tipografías/BagelFatOne-Regular.ttf');
}

h1,h2,h3,h4,h5,h6 {font-family: fantasy;}
.header {
    background-color: #0088AB;
    color: #F8F1E9;
    padding: 10px;
    font-size: 25px;
  }

  .navegador__lista {
    align-items: center;
    justify-content:space-evenly;
    list-style: none;
    display: flex;
    width: 100%;
    font-family: 'BageFatOne', 'fanatsy' ;
  }
  
  .navegador__lista-item {
    margin-right: 10px;
  }
  
  .navegador__lista-item:hover {
    text-shadow: 0 0 10px orangered}

  .navegador__lista-item--inicio,
  .navegador__lista-item--imagenes,
  .navegador__lista-item--videos,
  .navegador__lista-item--tips {
    margin-right: 20px;
  }
  .navegador__lista-item--inicio:hover {
    box-shadow: 0 0 10px orangered}
  
  .navegador__lista-link {
    color: #F8F1E9;
    text-decoration: none;
    padding: 5px;
  }
  
  .navegador__lista-link--inicio {
    font-weight: bold;
  }
  
  .navegador__lista-icono {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  .navegador__lista-icono:hover {
    box-shadow: 0 0 10px orangered}  

  body{background-color: #F8F1E9;}

  .seccion {
    background-image: url("https://images.pexels.com/photos/1293120/pexels-photo-1293120.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-position: center;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .seccion__contenido {
    text-align: center;
  }
  
  .contenido__h1 {
    color: #F8F1E9;
    font-size: 80px;
    font-weight: bold;
  }

  article {
    padding:5px;
    margin: 5px;
    text-align: center;
  }
    
  .articulo__titulo{
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: #F8F1E9;
    border-radius: 4px;
    font-size: 20px ;

  }
  .articulo__texto{    
    font-family: monospace, 'BageFatOne', 'fanatsy' ;
    font-size: 18px;}

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
    max-height: 280px;
  }
  
  .grid__contenido{
    position: relative;
    width: 100%;
    height: 280px;
  }
  
.grid__vinculo{
  display: block;
  text-decoration: none;}
  
  .grid__titulo {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #0088AB;
    font-size: 35px;
  }
  
  .grid__contenido img{
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 4px;
  }

  .grid__titulo:hover {
    box-shadow: 10px 10px 10px orangered}  
  
  .boton a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0088AB;
    color: #F8F1E9;
    text-decoration: none;
    border-radius: 4px;
  }
  .boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

footer {background-color: #0088AB;
  padding: 10px;
  width: 100%;
}

.footer__h5 {color: black;
  text-align: left;
  padding: 5 px;
  margin: 2 px;
  font-family: monospace, 'BageFatOne', 'fanatsy' ;
}

.footer__img {
  width: 20px;
  height: 20px;
  text-align: right;
  padding: 5 px;
  margin: 2 px;
}